.sett {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.sett-btn {
    background: transparent;
    opacity: 0.5;
    &:hover,
    &:focus {
        opacity: 1;
    }
}
.sec__setting{
    position: relative;
    z-index: 3;
    transition: all 1s;
    transform: translateY(-5000px);
    opacity: 0;
}
.is-open {
    transition: all 500ms;
    transform: translateY(-500px);
    opacity: 1;
}
.settings-wrapp{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    margin: 0 auto;
    background: #fff;
    width: 100%;
    max-width: 327px;
    height: auto;
    border-radius: 15px;
    padding: 24px 24px 59px;
}
.settings-header{
    display: flex;
}
.settings-title{
    font-weight: 700;
    font-size: 1.2rem;
}
.sett-btn-close{
    background: transparent;
    position: absolute;
    top: 20px;
    right: 24px;  
    width: 30px;
    height: 30px;  
    
    &::after,
    &::before{
        position: absolute;
        right: 5px;  
        content: '';
        width: 20px;
        height: 2px;
        background-color: #979797;
    }
    &::after{
        transform: rotate(45deg);
    }
    &::before{
        transform: rotate(-45deg);
    }
}

.line{
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #E3E1E1;;
}

.settings__time{
    padding-top: 53px;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #E3E1E1;
}
.time-title{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 0.7rem;
    letter-spacing: 4px;
    & ~ .padding-top{
        padding-top: 18px;
    }
}
.time-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}
.time-type{
    color: $text;
    font-weight: 700;
    font-size: 0.8rem;
    opacity: 0.4;
    line-height: 15px;
}
.time-container{
    position: relative;
    background: #EFF1FA;
    border-radius: 10px;
    padding: 12px;
    min-width: 100px;
    height: 40px;
    box-sizing: border-box;
}
.time-label{
    color: $text;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 17px;
}
.time-range{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: absolute;

}
.time-range::-webkit-slider-thumb{
    appearance: none;
}

// button add +5min
.time-increment{
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    height: 15px;
    width: 15px;
    opacity: 0.4;

    &::after,
    &::before{
        content: '';
        position: absolute;
        top: 5px;
        height: 2px;
        width: 10px;
        background-color: $text; 
    }

    &::after{
        transform: rotate(-40deg);
    }    

    &::before{
        transform: rotate(40deg);
        right: -2px; 
    }
}
.time-decrement{
    position: absolute;
    cursor: pointer;
    bottom: 5px;
    right: 15px;
    height: 15px;
    width: 15px;
    opacity: 0.4;

    &::after,
    &::before{
        content: '';
        position: absolute;
        top: 5px;
        height: 2px;
        width: 10px;
        background-color: $text; 
    }

    &::after{
        transform: rotate(40deg);
    }    

    &::before{
        transform: rotate(-40deg);
        right: -2px; 
    }
}

// radio-btn Font & Color
.border-line{
    border-bottom: 1px solid #E3E1E1;
    padding-bottom: 24px;
    margin-bottom: 16px;
}
.select-font-form,
.select-color-form{
    display: flex;
    justify-content: space-evenly;
    padding-top: 18px;
}
.select-radio{
    position: relative;
    width: 40px;
    height: 40px;
}
.select-radio-btn{
    -webkit-appearance: none;
    appearance: none;
}
.select-label-font{    //fonts
    position: absolute;
    width: 40px;
    height: 40px;
    background: $select;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: 'Aa';
        color: $text;
        opacity: 0.9;
    }
}
.kumbh{
   font-family: KumbhSans, sans-serif;
}
.roboto{
    font-family: RobotoSlab;
    font-weight: 400;
 }
 .space{
    font-family: SpaceMono;
 }
 .select-radio-btn:checked ~ .select-label-font{
    background: $overlay;
 }  
 .select-radio-btn:checked ~ .select-label-font::before{
    color: #fff;
 }
.select-label-color{    //colors
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        top: 13px;
        left: 13px;
        width: 15px;
        height: 9px;
        border-top: 2px solid $body;
        border-right: 2px solid $body;
        transform: rotate(135deg);
        opacity: 0;
    }
}
.red {
    background: #F87070;
}
.blue {
    background: #70F3F8;
}
.purple {
    background: #D881F8;
}
.select-radio-btn:checked ~ .select-label-color::before{
    opacity: 1;
}
.select-btn-apply{
    position: absolute;
    bottom: -23.5px;
    left: 50%;
    transform: translateX(-50%);
    background: #F87070;
    border-radius: 26.5px;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    padding: 17px 47px;
}
@media screen and (min-width: 480px) {
    .select-set-time{
        min-width: 140px;
    }
}