.tab{
    display: flex;
    justify-content: center;
    padding-top: 45px;
}
.tab-btn-list{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: $overlay;
    border-radius: 31.5px;
    padding: 8px 6px;
}
.tab-btn{
    color: #757A92FF;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 15px;
    padding: 14px 10px;
    border-radius: 26.5px;
    cursor: pointer;
    &:hover,
    &:focus {
        color: #fff;
    }
}
.is-active{
    color: $select-hover;
    // background-color: $accent;
    &:hover,
    &:focus {
        color: $select-hover;
    }
}
@media screen and (min-width: 380px) {
    .tab-btn{
        padding: 16px 22px;
    }
}

@media screen and (min-width: 768px) {
    .tab-btn{
        font-size: 0.9rem;
        padding: 19px 26px;
    }
}
